*, *::before, *::after {
  box-sizing: border-box;
}

/************************************************ Variables */
  :root {
    --font-color:      #222222; /*charcoal*/
    --link-color:      #008afc; /*bright blue*/
    --header-color:    #002833; /*navy*/
    --emphasis-color:  #ff9166; /*orange*/
    --background:      #f0f0f0; /*light gray*/
  
    --logo_orange_border: rgb(191, 102, 46);
    --logo_orange_fill:   rgb(238, 141, 65);
  
    --logo_yellow_border: rgb(191, 102, 46);
    --logo_yellow_fill:   rgb(245, 196, 97);
  
    --logo_sky_border: rgb(57, 111, 147);
    --logo_sky_fill:   rgb(111, 208, 246);
  
    --logo_green_border: rgb(173, 205, 187);
    --logo_green_fill:   rgb(0, 170, 79);
  
    --logo_water_border: rgb(0, 55, 114);
    --logo_water_fill:   rgb(0, 117, 189);
  }


/*******************************************  style ids on template */


/* inside navication container */
#menu_choices {
	background-color: rgb(0, 255, 94);
	margin:  10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;

  border-radius: 6px; 
  border-style: solid; 
  margin: 5px 5px 5px 5px;
}

/* inside navication container */
#contact {
  display: block;
	background-color: var( --logo_yellow_fill);
	margin:  10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;

  border-radius: 6px; 
  border-style: solid; 
  margin: 5px 5px 5px 5px;
}

/* main page content*/
#page {
	background-color: yellow;
	padding:  10px 10px 10px 10px;
  /*max-width: 1150px;*/
  /*width: 800;*/
}


/************************************ style custom components */
sfc-img {
  object-fit: contain;
  float: right;
}



/********************************************* style classes */
.border {
  color: white; 
  margin: 10px 10px 10px 10px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
}

.button {
    color: white; 
    font-size: 1.3em;
    font-weight: bold;
	  border-radius: 6px;
    border-width: .3em;
    margin: 5px 5px 5px 5px
}

.pointer {cursor: pointer;}


.button {
	cursor: pointer;
}


.row { /* This sets the styles that should apply to all divs that act as table rows. The classes below set the color for each row. */
	clear: both;
	overflow: auto;

  margin: 10px 10px 10px 10px;
  border-style: solid;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}


/***************************************   style elements */
h1 { /* Sets the base header style */
	color: var(--emphasis-color);
	font-size: 50px;
	text-align: center;
}


nav {  /* navigation container on left of screen*/
	background-color: cyan;
	margin-right:  10px;
	padding:  10px 10px 10px 10px;
	max-width: 165px;
}


/***                         print */
@media print {
    body * {
        visibility: hidden;
    }
    .printable, .printable * {
        visibility: visible;
    }
    .printable {
        position: absolute;
        left: 0;
        top: 0;
    }
}
