/* Variables */
:root {
	--font-color:      #222222; /*charcoal*/
	--link-color:      #008afc; /*bright blue*/
	--header-color:    #002833; /*navy*/
	--emphasis-color:  #ff9166; /*orange*/
	--background:      #f0f0f0; /*light gray*/
	--bkg-alt-1:       #ffc8b3; /*peach*/
	--bkg-alt-2:       #abcdd6; /*light blue*/
	--bkg-alt-3:       #acd3c2; /*light green*/
	--bkg-alt-4:       #d1a7c0; /*rose*/
}

/* Global styles */
body { /* The font face, size, and color to be used as the base for the entire site */
	color: var(--font-color);
	font-family: poppins-semibold, poppins, sans-serif;
	font-size: 1.2rem;
	margin: 0;
}
h1 { /* Sets the base header style */
	color: var(--emphasis-color);
	font-size: 50px;
	text-align: center;
}
a, a:visited { /* The color of links */
	color: var(--link-color);
}
.row { /* This sets the styles that should apply to all divs that act as table rows. The classes below set the color for each row. */
	clear: both;
	overflow: auto;
	padding: 10px 20px;
}

.row div:first-of-type { /* The first div within a row should be full width (for mobile) */
	width: 100%;
}
.row div + div { /* Sets the second div (containing the images) to center the content and to be full width (for mobile) */
	text-align: center;
	width: 100%;
}
.row p:first-child { /* Sets the style for the first paragraph of each row */
	/*font-weight: bold;*/
}
p.url a + a { /* Adds spacing between the links in the url paragraph  */
	margin-left: 20px;
}
img { /* Sets the default styles for all images */
	object-fit:contain;
	 float: right;  /* dwb try to make text wrap around picture */
	/*
	width:320px;
	height:200px;
	*/
}
@media (min-width: 768px) { /* These styles apply only to desktop browsers, not mobile */
	.row div:first-of-type { /* The first div within a row should float to the left like a table cell */
		position: relative;
		float: left;
		/*width: calc(100% - 320px);*/
	}
	/* The second div (containing the images) should float to the right like a table cell
	.row div + div {
		position: relative;
		float: right;
		width: 320px;
	}
	*/
}
p.emphasis { /* Sets the font color and boldness for emphasis text */
	color: var(--emphasis-color);
	font-weight: bold;
}

/* Navigation styles */
.nav-header { /* Sets the navigation background to white and hides it by default (for mobile) */
	background-color: #ffffff;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: 0.5s;
	width: 0;
	z-index: 1;
}
ul.nav-menu { /* Sets the navigation menu so that items appear in a horizontal line, with space between them */
	list-style: none;
	margin-left: -20px;
	position: relative;
	text-align: left;
	top: 20px;
	width: 100%
}
ul.nav-menu li { /* How much space should surround each individual menu item */
	padding: 8px 0;
}
ul.nav-menu a { /* Sets the link styles for each menu item */
	color: var(--header-color);
	font-family: proxima-n-w01-reg, sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
}
ul.nav-menu a:hover { /* When you hover over a menu item, show an underline */
	text-decoration: underline;
}
ul.nav-menu a.selected { /* Changes the menu item text color for the page you're on */
	color: var(--emphasis-color);
}
li.sub-menu ul { /* Gives the sub-menu the correct spacing for the mobile slide-out menu */
	list-style: none;
	margin-top: 8px;
	margin-bottom: -8px;
}
.hidden { /* Hides the slide-out menu for mobile */
	height: 200px;
	height: 0;
}
.visible { /* Shows the slide-out menu for mobile */
	height: 200px;
}
.open-nav { /* Styles the button that reveals the slide-out menu for mobile */
	color: #ffffff;
	cursor: pointer;
	font-family: proxima-n-w01-reg, sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: -10px -5px;
	padding: 8px;
	text-transform: uppercase;
	transition: 0.3s;
}
.close-nav { /* Styles the x button that closes the slide-out menu for mobile */
	cursor: pointer;
	font-size: 30px;
	position: absolute;
	right: 45px;
	top: 20px;
}
@media (min-width: 950px) { /* These styles apply only to desktop browsers, not mobile */
	.nav-header { /* Sets the size and spacing of the desktop menu and keeps it at the top of the page, even when you scroll */
		height: 30px;
		padding: 30px 10px;
		position: sticky;
		text-align: center;
		width: 100%;
	}
	.nav-header div { /* Positions the menu content centered in the header */
		margin: 0 auto;
		max-width: 1000px;
		position: relative;
		top: -30px;
	}
	ul.nav-menu { /* Works with the above to position the menu */
		margin: 0 auto;
		position: relative;
		text-align: center;
	}
	ul.nav-menu li { /* Aligns the menu items side-by-side and gives them the proper spacing */
		float: left;
		padding: 20px;
	}
	ul.nav-menu li:first-of-type { /* Changes the spacing for the first menu item to prevent extra spacing to the left */
		padding-left: 0;
	}
	li.sub-menu ul { /* Sets the spacing of the sub-menu and hides it by default */
		display: none;
		list-style: none;
		margin: -16px 0 -8px -36px;
		opacity: 0;
		padding: 24px;
		position: fixed;
		transition: all 0.5s ease;
		visibility: hidden;
		z-index: 2;
	}
	li.sub-menu:hover > ul,
	li.sub-menu:focus-within > ul,
	li.sub-menu ul:hover { /* Reveals the sub-menu when hovering or tabbing into into it */
		display: block;
		opacity: 1;
		visibility: visible;
	}
	li.sub-menu ul li,
	li.sub-menu ul li:first-of-type { /* Gives the sub-menu the correct spacing and background color */
		background-color: white;
		float: none;
		padding: 8px 12px;
		text-align: left;
	}
	.open-nav, .close-nav { /* Hides the open and close buttons for the slide-out menu */
		display: none;
	}
}

/* Hero styles */
.hero { /* Sets the background image and spacing for the hero image on the home page */
	background-attachment: fixed;
	background-image: url("/synergyData/app/background.webp");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
	font-size: 16px;
	padding: 60px 20px 40px 20px;
	position: relative;
	top: 0;
}
.hero div { /* Centers the text within the hero */
	margin: 0 auto;
	min-width: 300px;
	max-width: 1000px;
}
.hero div div { /* Keeps the hero text set to the correct width */
	min-width: 300px;
	max-width: 600px;
	margin: 0;
}
.hero h1 { /* Sets the font size and boldness for h1s in the hero */
	font-size: 48px;
	font-weight: 700;
}
@media (min-width: 450px) { /* These styles apply only to landscape mobile or larger browsers */
	.hero h1 { /* Sets the font size for the firts header in the hero */
		font-size: 72px;
	}
}
.hero h2 { /* Sets the font size and boldness for the h2s in the hero */
	font-size: 25px;
	font-weight: 400;
}
.hero a { /* Sets the color and underline for links in the hero */
	color: #ffffff;
	text-decoration: underline;
}

/* Content area styles */
/* This is a container that holds the various sections on each page, like the info section, music section, and vendor section on the makers market page */
.content { /* Sets the background color and spacing for the main content section */
	background-color: var(--background);
	padding: 20px;
	position: relative;
	top: -25px;
}
.alt-background {
	background-color: var(--bkg-alt-1);
}
.alt-background h1 {
	color: var(--font-color);
}
.content h2 { /* Sets the font size and alignment for the h2s in the main content section */
	font-size: 40px;
	text-align: center;
}
.content h3 { /* Sets the font size for the h3s in the main content section */
	font-size: 30px;
}
.content div { /* Sets the spacing for the main content section */
	margin: 0 auto;
	min-width: 300px;
	max-width: 1000px;
}
.content-row {
	clear: both;
	overflow: auto;
	text-align: left;
}
.content-row div {
	width: 100%;
}
.content-row div h2 {
	text-align: left;
}
@media (min-width: 450px) { /* These styles apply only to landscape mobile or larger browsers */
	.float-left {
		float: left;
		padding-right: 40px;
	}
}
@media (min-width: 980px) {
	.content-row div {
		float: left;
		width: 33%;
	}
}

/* Footer styles */
.footer { /* Sets the background color for the footer; adds padding at the top and bottom */
	background-color: #342216;
	padding: 11px 0;
}
.thick-border { /* Adds a thick border at the top and bottom of the footer */
	border-top: solid #ffffff 4px;
	border-bottom: solid #ffffff 4px;
	padding: 10px 0;
}
.thin-border { /* Adds a thin border at the top and bottom of the footer */
	border-top: solid #ffffff 2px;
	border-bottom: solid #ffffff 2px;
}
.footer-content { /* Sets the spacing and font color for the footer */
	color: var(--emphasis-color);
	margin: 0 auto;
	min-width: 300px;
	max-width: 1000px;
	overflow: auto;
	padding: 28px 0;
}
.footer-logo { /* Sets the spacing around and width of the logo image */
	margin-bottom: 20px;
	margin-left: 20px;
	width: 140px;
}
.footer-content p { /* Sets the spacing around each paragraph in the footer */
	margin: 2px 0;
}
.footer-content a,
.footer-content a:hover { /* Sets the color and underline for links in the footer */
	color: #ffffff;
	text-decoration: underline;
}
.footer-content a.email,
.footer-content a.email:hover { /* Sets the color and removes the underline from email links in the footer */
	color: var(--emphasis-color);
	text-decoration: none;
}
.columns { /* Centers the content in the columns sections */
	margin: 0 auto;
}
.columns div { /* Sets the spacing around each column div in the columns section */
	padding: 5px 20px;
}
.copyright { /* Sets the color, size, and spacing for the copyright info */
	color: #999999;
	font-size: 14px;
	padding-left: 20px;
	padding-top: 20px;
}
.social { /* Sets the size of each social media link */
	height: 50px;
	width: 50px;
}
@media (min-width: 400px) { /* These styles apply only to landscape mobile or larger browsers */
	.footer-logo { /* Floats the logo image to the left in the footer*/
		float: left;
		margin-left: 20px;
		width: 140px;
	}
	.footer-links { /* Floats the footer content to the right of the logo; sets the width to full minux the width of the image and its spacing */
		float: right;
		width: calc(100% - 160px);
	}
}

@media (min-width: 800px) { /* These styles apply only to desktop browsers */
	.columns { /* Keeps each columns section on its own row */
		clear: both;
	}
	.columns div { /* Aligns each column div to the left; sets their width to 33% minus the spacing */
		float: left;
		padding: 0 20px;
		width: calc(33% - 40px);
	}
	.columns div:nth-of-type(2) { /* Center-aligns the content of the center column */
		text-align: center;
	}
	.columns div:nth-of-type(3) { /* Right-aligns the content of the right column */
		text-align: right;
	}
	.copyright { /* Keeps the copyright on its own row, centers it, and sets its spacing */
		clear: both;
		padding-top: 20px;
		text-align: center;
	}

	.update {
		font-size: 12px;
		padding-top: 20px;
	}

	.button {
	  background-color:yellow;
	}


	.selected {
		background-color:cyan;
	}

}

/* david */

/*
.row1 {background-color: var(--bkg-alt-1);}
.row2 {background-color: var(--bkg-alt-2);}
.row3 {background-color: var(--bkg-alt-3);}
.row4 {background-color: var(--bkg-alt-4);}
*/

td {
vertical-align:top;
}

h5 {text-align:center;padding: 1px; margin:1}
td {border: 1px solid black; }

/* for dates in the past on the calendar*/
.past {background-color: lightgrey;}
.today {background-color: yellow;}
